.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height:40px;
  width: 40px;
  padding: 12px 18px;
  z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:20px;
  background-color: gainsboro;
}
.play {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
}
.pause {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
}

.index {
  background-color: #000;
  background-image: url("../img/6006821.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.edades {
  background-color: #000;
  background-image: url("../img/Fondo.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.categoria {
  display: flex;
  flex-direction: column; /* Apila los grupos de botones verticalmente */
  align-items: center; /* Centra los grupos de botones horizontalmente */
  padding-top: 20px;
  border-radius: 10px;
  border: 3px solid #FFF;
  background: rgba(141, 189, 235, 0.90);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 80%;
  width: 70%;
}

.grupo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Espaciado entre botones en la misma fila */
  width: 80%;

}

.subtitulo {
  align-items: center;
  display: flex;
  justify-content: space-between; /* Espaciado entre botones en la misma fila */
  width: 60%;
left: 50%;
}
img{
  margin-top: 10px;
  width: 130px;
  height: 130px;
}

.botoncategoria, .botonNumero {
  margin-top: 20px;
  flex: 0 0 calc(33.33% - 10px); /* Tamaño de cada botón (33.333% para tres botones por fila) */
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 8px 5px 2px rgba(0, 0, 0, 0.25);
}

.texto {
  text-align: center; /* Alinea el texto al centro */
  margin-top: 20px; /* Espaciado entre los grupos de botones y el texto */
  font-size: 18px; /* Tamaño de fuente para el texto debajo de los botones */
}

.content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 8%;
}

.content h1,
h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 5px;
}

.content h1 {
  color: aliceblue;
}

.content h2 {
  color: yellow;
  margin-bottom: 10px;
}

.content .lead-button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(235, 212, 69);
  color: rgb(118, 147, 223);
  border-radius: 120px;
}

.content .lead-button:hover {
  color: #fff;
  background-color: rgb(235, 200, 69);
}
.content .edad:hover {
  color: #fff;
  background-color: rgb(44, 147, 179);
}

.content .edad span {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  display: flex;
  align-items: center; 
  justify-content: center; 
  z-index: 3; 
}
.content .edad {
  display: block;
  height: 73px;
  width: 250px;
  margin: 1% auto; 
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding-top: 15px;
  padding-right: 32px;
  padding-bottom: 15px;
  padding-left: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #9CC6A6;
  color: rgb(118, 147, 223);
  border-radius: 100px;
  position: relative; 
}

.content .edad::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px; 
  right: 10px; 
  bottom: 10px;
  border: 10px solid white; 
  background-color: white;
  border-radius: 110px; 
  z-index: 3;
}

.edadTexto {
  word-wrap: normal;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Arial, sans-serif; 
  font-size: 60px;
  font-weight: bold; 
  -webkit-text-stroke: 3.5px #615789;
  text-decoration: none !important;
  text-stroke: 3.5px #615789;
}

.edadTitulo {
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Best Love DEMO;
  font-size: 60px;
  margin: 20px;
  font-weight: 400;
  line-height: bold;
  -webkit-text-stroke: 4px #615789; /* Agregamos un borde azul al texto */
  text-stroke: 4px #615789; /* Agregamos un borde azul al texto */
}

.subtitulos {
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Best Love DEMO;
  font-size: 30px;
  margin-left: 10%;
  margin-right: 1 0%;
  font-weight: 400;
  line-height: bold;
  -webkit-text-stroke: 3px #615789; /* Agregamos un borde azul al texto */
  text-stroke: 2px #615789; /* Agregamos un borde azul al texto */
}
