
span {
    color: #FFF;
}

div#content {
    margin-top: 10px;
}

div#conf {
    padding-bottom: 10px;
}


table {
    border: 2px solid rgb(20, 20, 20);
    box-shadow: 1px 1px 8px #c421ec, -1px -1px 8px #b43ea4, 1px -1px 8px #264d5c, -1px 1px 8px #ff1f1f;
    -webkit-box-shadow: 1px 1px 8px #e423d4, -1px -1px 8px #860a72, 1px -1px 8px #00e800, -1px 1px 8px #00e800;
    border-collapse: collapse;
}
/* Agrega estas reglas CSS al final de tu archivo de estilo */

.puzzle-container {
    display: flex;
    align-items: center;
  }
  
  .correcto {
    box-shadow: 1px 1px 8px #c421ec, -1px -1px 8px #b43ea4, 1px -1px 8px #264d5c, -1px 1px 8px #00e800;
    -webkit-box-shadow: 1px 1px 8px #e423d4, -1px -1px 8px #860a72, 1px -1px 8px #00e800, -1px 1px 8px #00e800;
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .puzzle-info {
    color: #FFF;
    flex: 1;
  }

  
td.pieza {
    background: url(../../assets/img/puzzle.jpg);
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    cursor: pointer;
}



div.posic {
    background: #FFF;
    border: 1px solid #a50e66;
    width: 150px;
    display: none;

}

div#titulo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 8px #fa0ae6, -1px -1px 8px #661c60, 1px -1px 8px #aa2b8f, -1px 1px 8px #b126aa;
}