
.puzzle-container{

    display: hidden;

}

.sliding {
    display: flex;
    flex-direction: column;
}

div#content {
    margin-top: 10px;
}

div#conf {
    padding-bottom: 10px;
}

span {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    margin: 20px;
    font-weight: bold; /* Se cambió 'line-height' a 'font-weight' para establecer el grosor de la fuente */
}


table {
    border: 2px solid rgb(20, 20, 20);
    box-shadow: 1px 1px 8px #c421ec, -1px -1px 8px #b43ea4, 1px -1px 8px #264d5c, -1px 1px 8px #ff1f1f;
    -webkit-box-shadow: 1px 1px 8px #e423d4, -1px -1px 8px #860a72, 1px -1px 8px #00e800, -1px 1px 8px #00e800;
    border-collapse: collapse;
}
/* Agrega estas reglas CSS al final de tu archivo de estilo */

.puzzle-container {
    display: flex;
    align-items: center;
  }
  
  .correcto {
    box-shadow: 1px 1px 8px #c421ec, -1px -1px 8px #b43ea4, 1px -1px 8px #264d5c, -1px 1px 8px #00e800;
    -webkit-box-shadow: 1px 1px 8px #e423d4, -1px -1px 8px #860a72, 1px -1px 8px #00e800, -1px 1px 8px #00e800;
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .puzzle-info {
    color: #FFF;
    flex: 1;
  }

  
td.pieza {
    background: url(../../assets/img/puzzle.jpg);
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    cursor: pointer;
}



div.posic {
    background: #FFF;
    border: 1px solid #a50e66;
    width: 150px;
    display: none;

}

div#titulo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 8px #fa0ae6, -1px -1px 8px #661c60, 1px -1px 8px #aa2b8f, -1px 1px 8px #b126aa;
}

:root {
    --color-dark: #161616;
    --color-ocean: #416dea;
    --color-grass: #3dd28d;
    --color-snow: #FFFFFF;
    --color-salmon: #F32C52;
    --color-sun: #feee7d;
    --color-alge: #7999a9;
    --color-flower: #353866;

    --borderRadius: 36px;
    --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  


  
  .button { 
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;

    border: 0 none;
    border-radius: var(--borderRadius);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px var(--color-smoke);
  }
  .button:hover {
    transition: all 150ms linear;
    opacity: 0.85;
  }
  .button:active {
    transition: all 150ms linear;
    opacity: 0.75;
  }
  .button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
  
  .button.-regular {
    color: #202129;
    background-color: #f2f2f2;
  }
  .button.-regular:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }
  .button.-regular:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
  
  .button.-dark {
    color: var(--color-snow);
    background: var(--color-dark);
  }
  .button.-dark:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
  }
  
  .button.-green {
    color: var(--color-snow);
    background: var(--color-grass);
  }
  
  .button.-blue {
    color: var(--color-snow);
    background: var(--color-ocean);
  }
  
  .button.-salmon {
    color: var(--color-snow);
    background: var(--color-salmon);
  }
  
  .button.-sun {
    color: #f15c5c;
    background: var(--color-sun);
  }
  
  .button.-alge {
    color: #e7ff20;
    background: var(--color-alge);
  }
  
  .button.-flower {
    color: #FE8CDF;
    background: var(--color-flower);
  }/*# sourceMappingURL=botton.css.map */