body {
    background: #222;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

span {
    color: #FFF;
}

div#content {
    margin-top: 10px;
}

div#conf {
    padding-bottom: 10px;
}

table {
    border: 2px solid green;
    box-shadow: 1px 1px 8px #00e800, -1px -1px 8px #00e800, 1px -1px 8px #00e800, -1px 1px 8px #00e800;
    -webkit-box-shadow: 1px 1px 8px #00e800, -1px -1px 8px #00e800, 1px -1px 8px #00e800, -1px 1px 8px #00e800;
    border-collapse: collapse;
}

td.pieza {
    background: url(../../assets/img/puzzle.jpg);
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    cursor: pointer;
}



div.posic {
    background: #FFF;
    border: 1px solid #700000;
    width: 150px;
    display: none;

}

div#titulo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 8px #00e800, -1px -1px 8px #00e800, 1px -1px 8px #00e800, -1px 1px 8px #00e800;
}